.header-style {
    padding-top: 35px;
    padding-left: 35px ;
    font-size: 20px;
    height: 100px;
    text-align: left;
}



.rs-nav .rs-dropdown .rs-dropdown-menu-active ~ .rs-dropdown-toggle, .rs-nav .rs-nav-item-active > .rs-nav-item-content, .rs-nav .rs-dropdown .rs-dropdown-menu-active ~ .rs-dropdown-toggle:hover, .rs-nav .rs-nav-item-active > .rs-nav-item-content:hover, .rs-nav .rs-dropdown .rs-dropdown-menu-active ~ .rs-dropdown-toggle:focus, .rs-nav .rs-nav-item-active > .rs-nav-item-content:focus, .rs-nav .rs-dropdown .rs-dropdown-menu-active ~ .rs-dropdown-toggle:active, .rs-nav .rs-nav-item-active > .rs-nav-item-content:active {
    color: white !important;
    background: #34c3ff !important;
    border-radius: 10px !important;
}
.no-padding {
    padding: 0px !important;
}

.header-nav {
    background-color: white !important;
    border-bottom: 1px solid rgba(200, 198, 198,0.5);
    height: 70px;
    padding-top: 7px;
}

.body-style {
    background-color: #F7F7FA;
    padding: 15px;
    a {
        color: black !important;

    }
}

.home-dashboard-img {
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}