.font-white {
    color: rgb(219, 210, 210);
}

.font-black {
    color: rgb(36, 36, 36);
}

.text-title-center-h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.text-center {
    text-align: center;
}

.text-medium {
    font-size: 16px;
}